<!--
-Travis Rosen
-07/09/2022
-contact/component.html
-Contact html page
-->

<mat-card class="mat-elevation-z0">
  <mat-card-title align="center" class="title">Contact</mat-card-title>
  <mat-card-content>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat velit pulvinar luctus pretium. Morbi egestas erat lectus, ut convallis lectus lobortis et.
      Fusce gravida condimentum augue auctor sodales. Vivamus sapien leo, fringilla ac justo eget, ullamcorper venenatis mauris. Nam porttitor facilisis diam eu ultricies.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vestibulum magna non nisi vehicula, eu accumsan.</p>
    <br>
    <p align="center"><mat-icon class="icon" >phone</mat-icon>&nbsp;<mat-icon class="icon" >navigation</mat-icon></p>
    <p align="center">210-887-6335</p>
    <p align="center">350 Continental Drive, Dallas TX 75067</p>
  </mat-card-content>
</mat-card>
